<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! I'm MyoungKwan Choi, a passionate and skilled web developer with web application engineering skiils. With a strong foundation in Java, Spring Boot, JavaScript and SQL, I specialize in building efficient, scalable, and high-performance systems
            </p>
            <p class="paragraph-text justify-text">
                I have extensive experience in design and development based on Spring/Dexter Framework, Oracle SQL, and REST API, gained through various web development projects, 4 SI projects, and one year of website development and maintenance work.
            </p>
            <p class="paragraph-text justify-text">
                I have consistently received positive performance reviews each year and hold honesty and communication as important values. Despite a relatively short period of 5 years, I have successfully carried out a variety of tasks and enjoy continuous challenges.
            </p>
            <p class="paragraph-text justify-text">
                I post my personal projects on <a href="https://github.com/BoxerChoi">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
